{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{% static 'colis/css/demander_expedition.css' %}">
	<link rel="stylesheet" href="{% static 'colis/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'colis/css/bordereau.css' %}">

	<title>Dashboard</title>
</head>
<body>

    {% include 'colis/couche/sidebar.html' %}
	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		{% include 'colis/couche/navbar.html' %} 
		<!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <div class="container">
            <header>Bordereau</header>
    
            <form action="#">
                        <div class = "bordereau">
                            <div class = "bordereau-container">
                                <div class = "bordereau-head">
                                    <div class = "bordereau-head-top">
                                        <div class = "bordereau-head-top-left text-start">
                                            <img src = "{% static 'colis/images/Interface_logo.png' %}">
                                        </div>
                                        <div class = "bordereau-head-top-right text-end">
                                        </div>
                                    </div>
                                    <div class = "hr"></div>
                                    <div class = "bordereau-head-middle">
                                        <div class = "bordereau-head-middle-left text-start">
                                            {% for exp in exped %}
                                            <p><span class = "text-bold">Date</span>: {{ exp.dateExp }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class = "bordereau-head-middle-right text-end">
                                            {% for exp in exped %}
                                            <p><spanf class = "text-bold">Interface No:</span>{{ exp.id }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class = "hr"></div>
                                    <div class = "bordereau-head-bottom">
                                        <div class = "invoice-head-bottom-left">
                                            <ul>
                                                <li class = 'text-bold'>Destinataire:</li>
                                                {% for exp in exped %}
                                                <li>{{ exp.nom }}</li>
                                                <li>{{ exp.tel }}</li>
                                                <li>{{ exp.email }}</li>
                                                <li>{{ exp.ville_destination }}, {{ exp.pays_destination }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class = "bordereau-head-bottom-right">
                                            <ul class = "text-end">
                                                <li class = 'text-bold'>Pay To:</li>
                                                <li>Interface.</li>
                                                <li>693135323</li>
                                                <li>interface@gmail.com</li>
                                                <li>Douala,Cameroun</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class = "overflow-view">
                                    <div class = "bordereau-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <!-- <td class = "text-bold">Colis</td> -->
                                                    <td class = "text-bold">Description</td>
                                                    <td class = "text-bold">Mode transport</td>
                                                    <td class = "text-bold">QTY</td>
                                                    <td class = "text-bold"  style="text-align: center;">Prix</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    {% for exp in exped %}
                                                    <td>{{ exp.description }}</td>
                                                    <td>{{ exp.mode_transport }}</td>
                                                    <td>{{ exp.quantite }}</td>
                                                    <td class = "text-end">{{ exp.prix }} {{ exp.devise }}</td>
                                                    {% endfor %}
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        <div class = "bordereau-body-bottom">
                                            <div class = "bordereau-body-info-item border-bottom">
                                                <div class = "info-item-td text-end text-bold">TVA:</div> 
                                                <div class = "info-item-td text-end">13,25%</div>
                                            </div> 
                                            <div class = "bordereau-body-info-item">
                                                <div class = "info-item-td text-end text-bold">Total:</div>
                                                {% for exp in exped %}
                                                <div class = "info-item-td text-end">{{ exp.calculTotal }} {{ exp.devise }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = "bordereau-foot text-center">
            
                                    <div class = "bordereau-btns">
                                        <button type = "button" class = "bordereau-btn" onclick="printBordereau()">
                                            <span>
                                                <i class="fa-solid fa-print"></i>
                                            </span>
                                            <span>Telecharger</span>
                                        </button>
                                        <!-- <button type = "button" class = "bordereau-btn">
                                            <span>
                                                <i class="fa-solid fa-download"></i>
                                            </span>
                                            <span>Telecharger</span>
                                        </button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
            

            </form>
        </div> 
        <!-- end div container -->
 <script src="{% static 'colis/JS/bordereau.js' %}"></script>


    </main>
    <!-- MAIN -->
</section>

</body>
</html>